// Colors
$main-color: #3fa7da;
$blue: #0E66C1;
$dark-blue: #526371;
$gray: #898989;
$light-gray: #F0F0F0;
$dark-gray: #3E4043;
$light-pink: #ecd8d8;
$purple: #9978B0;
$light-blue: #B5E0FC;
$light-green: #1ABF64;
$green: #70BF44;
$facebook: #3B5998;
$twitter: #1DA1F2;
$google: #CC3333;
$part-time: #f08d3c;
$temporary: #d93674;

// Spacings
$s-size: .8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.8rem;