.contact-form {
    @extend .section;
    padding: $m-size;
    background: $light-gray;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 3px rgba(black, .2);

    input,
    select,
    textarea {
        box-shadow: 0px 0px 2px 1px rgba(black, .2);
        margin-bottom: $m-size;
    }

    input[type="submit"] {
        margin-bottom: 0;
    }
}