.entry-header {
    // @extend .section;
    border-bottom: 2px solid $light-gray;
    margin: $m-size 0;
}

.entry-title {
    position: relative;

    span {
        color: $main-color;
    }

    &::after {
        content: '';
        background: $main-color;
        height: .2rem;
        width: 10rem;
        position: absolute;
        bottom: -2px;
        left: 0;
    }
}

.entry-content {
    @extend .section;

    p {
        margin-bottom: $s-size;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.entry-meta {
    .updated {
        display: none;
    }
    
    @include breakpoint($bp-desktop) {
        font-size: $l-size;
    }
}