.wp-pagenavi {
    @extend .section;
    text-align: center;

    .larger {
        display: none;
    }

    .smaller {
        display: none;
    }

    .extend {
        display: none;
    }

    @include breakpoint($bp-tablet) {
        .larger {
            display: inline;
        }
    
        .smaller {
            display: inline;
        }
    
        .extend {
            display: inline;
        }
    }
}