.services {
    @extend .section;
}

.service {
    position: relative;
    height: 476px;
    margin-top: -100px;

    &:nth-child(2n) {
        .service__content{
            background: $purple;
        }

        .service__title {
            &::before {
                content: "\f0d0";
            }
        }

        .service__action {
            background: $light-gray;
            
            .service__description {
                color: black;
            }

            a {
                background: $purple;
            }
        }
    }

    &:last-child {
        .service__content{
            background: $light-blue;
        }

        .service__title {
            &::before {
                content: "\f003";
            }
        }

        .service__action {
            background: $blue;

            a {
                background: $light-blue;
            }
        }
    }

    &:hover {
        .service__content {
            bottom: 170px;
        }
        .service__action {
            height: 170px;
        }
    }

    @include breakpoint($bp-tablet) {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
}

.service__content {
    background: $main-color;
    text-align: center;
    height: 306px;
    padding: $m-size;
    position: absolute;
    bottom: 0;
    z-index: 2;
    @include transition-time(.3s, ease-in-out);
}

.service__title {
    color: white;
    font-size: $xl-size;
    margin-bottom: $m-size;

    &::before {
        font-family: FontAwesome;
        content: "\f219";
        color: white;
        display: block;
        padding: $l-size;
        font-size: $xxl-size;
    }
}

.service__subtitle {
    color: white;
}

.service__action {
    background: $light-green;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    padding: $m-size;
    text-align: start;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    @include transition-time(.3s, ease-in-out);
}

.service__description {
    color: white;
}

.service__action a {
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    padding: .8rem 1.6rem;
    background: $main-color;
    color: white;
    border-radius: 2px
}